body{
    background-color: rgb(30,34,38);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(0, 183, 255);
}

h2{
    color:white
}

p{
    color: white;
}

.center{
    display: block;
    margin: auto;
}

.center-text{
    text-align: center;
}

.youtube-button{
  display: block;
  margin: auto;
  text-align: center;
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  border-radius: 30px;
}