html {
    height: 100vh;
    overflow: horizontal;
}

body{
    display: flex;
    background-color:rgb(23, 25, 28);
    overflow: hidden;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h1{
    color:rgb(23, 235, 255);
    margin-top: 0;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(23, 235, 255, 0.5);
}

h2{
    color:rgb(23, 235, 255);
  font-size: 30px;
  text-shadow: 0px 0px 10px rgba(23, 235, 255, 0.5);
}

p{
  color:rgb(21, 171, 202);
  margin: 10px;
  margin-bottom:0px;
}


.center{
    display: block;
    margin: 0 auto;
}

.center-text{
    text-align: center;
}

.youtube-button{
  display: block;
  margin-top: 50px;
  text-align: center;
  background-color: rgb(235, 55, 34);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  border-radius: 30px;
  
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}

@font-face {
    font-family: "Outfit";
    src: url(custom%20fonts/Outfit.ttf);
}

.container {
  padding: 50px;
    background-color: rgba(31, 72, 94, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    border: rgb(23, 235, 255) solid;
    border-width: 2px;
    border-radius: 20px;
  box-shadow:inset 0px 0px 10px 2px rgba(23, 235, 255, 0.25), 0px 0px 10px 2px rgba(23, 235, 255, 0.25), 0px 10px 4px 0px rgba(0,0,0,0.4);
  margin-top: 20px;
}