html {
    height: 100vh;

}

body{
    display: flex;
    background-color:rgb(23, 25, 28);
    overflow: hidden;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1{
    color:rgb(23, 235, 255);
    margin-top: 0;
}

h2{
    color:rgb(23, 235, 255);
}

p{
  color:rgb(21, 171, 202);
  margin: 10px;
  margin-bottom:0px;
}


.center{
    display: block;
    margin: 0 auto;
}

.center-text{
    text-align: center;
}

.youtube-button{
  display: block;
  margin-top: 50px;
  text-align: center;
  background-color: rgb(235, 55, 34);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  border-radius: 30px;
}

@font-face {
    font-family: "Outfit";
    src: url(custom%20fonts/Outfit.ttf);
}

.container {
  padding: 50px;
    background-color: rgba(31, 72, 94, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    border-radius: 20px;
}
